html {
    background-image: url('../images/computer-device-electronics-884453.jpg') no-repeat center center fixed;
    font-family: 'K2D', sans-serif;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: grey;
    max-width: 100%;
}

input {
    text-align: center;
    font-family: 'K2D', sans-serif;
}

#nav {
    margin-top: 10%;
    width: 8%;
    float: left;
    position: fixed;
    background-color: rgb(29, 163, 247);
    border-radius: 0% 30% 30% 0%;
    box-shadow: 5px 5px 5px;
}

#nav a {
    color: white;
    font-family: 'K2D', sans-serif;
}

#nav a:hover {
    background-color: rgb(0, 102, 255);
    box-shadow: 5px 5px 5px #000000;
}

#page {
    text-align: center;
    top: 20%;
    left: 20%;
    position: absolute;
    font-family: 'K2D', sans-serif;
    color: #ffffff;
    width: 60%;
}

#page h1 {
    background-color: rgb(29, 163, 247);
    box-shadow: 5px 5px 5px #000000;
    border-radius: 25px;
    padding: 20px;
}

#page h3 {
    margin: auto;
    margin-top: 3%;
    background-color: rgb(29, 163, 247);
    border-radius: 25px;
    padding: 10px;
    width: 50%;
}

#page .about {
    margin-top: 10%;
    box-shadow: 5px 5px 5px #000000;
    background-color: rgb(29, 163, 247);
    border-radius: 25px;
    padding: 10px;
}

#create{
    box-shadow: 5px 5px 5px #000000;
}

#create:hover {
    background-color: rgb(0, 102, 255);
    box-shadow: 5px 5px 5px #000000;
}

#loginBox {
    width: 30%;
    background: transparent;
    text-align: center;
    margin-right: 25%;
    margin-top: 16.5%;
    float: right;
    color: white;
    font-family: 'K2D', sans-serif;
}

#loginBox h1 {
    color: rgb(29, 163, 247);
}

#loginBox button {
    background-color: rgb(29, 163, 247);
    min-width: 25%;
    font-weight: bold;
}

#loginBox button:hover {
    background-color: rgb(0, 102, 255);
}

#loginBox input {
    text-align: center;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 20px;
    padding-left: 4.5%;
}

#portfolio-background {
    text-align: center;
    margin-top: -15%;
    margin-bottom: 5%;
    margin-left: -15%;
    position: absolute;
    padding: 40%;
    width: 115%;
    background-color: rgb(29, 163, 247);
    border-radius: 20px;
    box-shadow: 5px 5px 5px #000000;
}

#boxes {
    margin: -90%;
}

#boxes h1 {
    box-shadow: 1px 1px 1px 2px #000000;
}

#boxes input {
    text-align: center;
}

#helper {
    float: right;
    margin-top: -3%;
    max-width: 25%;
    min-width: 25%;
    font-family: 'K2D', sans-serif;
    position: absolute;
    left: 105%;
    box-shadow: 5px 5px 5px #000000;
    border-radius: 2%;
}

#helper .card:hover {
    background-color: rgb(0, 102, 255);
    box-shadow: 5px 5px 5px #000000;
}

#helper button {
    color: white;
    font-family: 'K2D', sans-serif;
}

#helper .checkbox{
    float: right;
    -webkit-appearance: initial;
    appearance: initial;
    background: white;
    margin-top: 5%;
    width: 20px;
    height: 20px;
    border: none;
    position: relative;
    box-shadow: 5px 5px 5px #000000;
}
#helper .checkbox:checked:after{
    content: "✖";
    background-color: #ffffff;
    color: red;
    position: absolute;
    left: 50%;
    top: 40%;
    width: 1em;
    height: 1em;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
#intro-text{
    box-shadow: 5px 5px 5px #000000;
}
#introduction{
    border-radius: 10%;
    text-align: center;
}

.card {
    background-color: rgb(29, 163, 247);
}

#remove{
    width: 25%;
    background-color: red;
    color: white;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50%;
    box-shadow: 1px 1px 1px #000000;
    border-color: rgb(218, 1, 1);
    margin: 2%;
    font-weight: bolder;
}
.add{
    width: 25%;
    background-color: green;
    color: white;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50%;
    box-shadow: 1px 1px 1px #000000;
    border-color: rgb(0, 95, 0);
    font-weight: bolder;
}
input#remove:active {
    background-color: lightcoral;
}
button.add:active {
    background-color: lightgreen;
}

.card-body {
    background-color: rgb(62, 179, 252);
}

.card-body input {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 2%;
}

#newTitleText{
    margin-top: -112%;
    box-shadow: 5px 5px 5px #000000;
}

#profilePic{
    position: absolute;
    left: 2.5%;
    size: portrait;
    top: 5%;
    margin: auto;
    padding: 5px;
    background-color: rgb(62, 179, 252);
    border-radius: 20px;
    box-shadow: 5px 5px 5px #000000;
}

#profilePic img{
    width: 6em;
    border-radius: 20px;
    padding: 1%;
}

#intro{
    margin-top: 20%;
    margin-left: -150%;
    max-width: 170%;
}

#intro h3{
    font-size: 20px;
}

#education{
    float: right;
    text-align: left;
}

#skillset{
    min-height: 15%;
    position: absolute;
    left: 72.5%;
    top: 5%;
    margin: auto;
    padding: 5px;
    width: 20%;
    box-shadow: 5px 5px 5px #000000;
    background-color: transparent;
    border-color: rgb(62, 179, 252);
    border-style: solid;
    border-radius: 20px;
    text-align: center;
}
#skillset h3{
    width: 106.5%;
    margin-top: -3%; 
    margin-left: -3.5%;
    background-color: rgb(62, 179, 252);
    border-radius: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.skills{
    float: left;
    text-align: center;
    box-shadow: 5px 5px 5px #000000;
    background-color: rgb(62, 179, 252);
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
    margin-top: 8px;
    margin-left: 10px;
}
